<div class="bg-light p-3 header-bar">
    <h5 class="title-text">
        To Payment Maitreya Traders
    </h5>

    <button class="close-btn" (click)="closeTab()" type="button">
        <img src="../../../assets/cancel.png" alt="Close" />
    </button>
</div>


<div class="container-fluid scroll" style="max-height: 80vh; overflow-y: auto">
    <div>
        <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
            <div class="text-center">
                <label>{{name}}</label>
            </div>
            <div class="stripe-card-wrapper">
                <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"
                    (change)="onstripeChange($event)">
                </ngx-stripe-card>
            </div>
            <div class="text-center m-3">
                <span>
                    <button type="submit" style="text-decoration: underline"
                        [ngClass]="stripeCardValid ? 'btn-submit' : 'btn-submit1'" [disabled]="!stripeCardValid">
                        Pay Now ( £{{budjet |  number:'1.2-2'}} )
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>