<div class="website-container">
    <!-- Top Info Bar -->
    <div class="top-bar d-none d-lg-block">
        <div class="top-bar-content">
            <span>Minimum order £35</span>
            <span class="separator">|</span>
            <span>Free Delivery for order over £80</span>
            <span class="separator">|</span>
            <span>£2.99 surcharge for frozen products packing</span>
        </div>
    </div>

    <!-- Header -->
    <header class="header">
        <div class="header-content">
            <!-- Logo -->
            <div class="logo d-md-block d-none">
                <img src="../../../assets/logo.png" alt="Maitreya Traders Limited" class="logo-image">
            </div>

            <!-- Navigation -->
            <nav class="nav">
                <a class="d-block d-md-none">
                    <img src="../../../assets/mlogo.png" alt="Maitreya Traders Limited" width="70px">
                </a>
                <a href="#" class="nav-item" [class.active]="activeSection === 'home'"
                    (click)="setActive('home')">Home</a>

                <a href="javascript:void(0)" class="nav-item" [class.active]="activeSection === 'about'"
                    (click)="navigatetoabout()">
                    <!-- (click)="setActive('about'); scrollToSection('about')" -->
                    About
                </a>
                <div class="nav-item-wrapper">
                    <a href="#" class="nav-item" [class.active]="activeSection === 'products'"
                        (click)="toggleProductsDropdown($event)">
                        Products <span class="dropdown-arrow" [class.rotated]="showProductsDropdown">▼</span>
                    </a>
                </div>

                <div style="position: absolute; color : red;top:70%; left:50%; border: 1px solid #333; z-index: 9999;
                    border-radius: 8px; background-color: #1a1a1a;  border: 1px solid #333;  border-radius: 8px;  min-width: 250px;"
                    *ngIf="showProductsDropdown">
                    <a *ngFor="let category of productCategories" class="dropdown-item"
                        (click)="navigateToCategory(category)">
                        {{ category.name }}
                    </a>
                </div>

                <!-- <a href="#" class="nav-item" [class.active]="activeSection === 'recipes'"
                    (click)="setActive('recipes')">Recipes</a>
                <a href="#" class="nav-item" [class.active]="activeSection === 'blog'"
                    (click)="setActive('blog')">Blog</a> -->

                <a class="nav-item" [class.active]="activeSection === 'contact'" (click)="scrollToContact()">
                    Contact Us
                </a>


            </nav>

            <!-- Header Actions -->
            <div class="header-actions">
                <div class="search-wrapper" (click)="$event.stopPropagation()">
                    <img src="../../../assets/Icon-3.png" class="icon search-trigger" [class.hide]="showSearch"
                        (click)="toggleSearch(); $event.stopPropagation()" />
                    <div class="search-inline" [class.show]="showSearch" (click)="$event.stopPropagation()">
                        <img src="../../../assets/Icon-3.png" class="icon small" />
                        <input type="text" [(ngModel)]="searchText" placeholder="Search products"
                            (keydown.enter)="GotoSearch(); $event.preventDefault(); $event.stopPropagation()"
                            (click)="$event.stopPropagation()" />


                        <img src="../../../assets/cancel.png" class="icon small close-icon"
                            (click)="closeSearch(); $event.stopPropagation()" width="10" />
                    </div>
                    <div class="search-dropdown" *ngIf="displaylist">
                        <div *ngIf="AllSearchItems.length > 0">
                            <div class="panel-header">
                                <span>Products</span>
                                <div></div>
                            </div>
                            <div class="search-results" *ngFor="let n of AllSearchItems">
                                <div class="image-wrap">
                                    <img *ngIf="n.productImagesList?.length" [src]="baseUrl + n.productImagesList[0]"
                                        alt="product" (click)="ProductView(n)" />
                                </div>
                                <div class="title" (click)="ProductView(n)">{{ n.productName }}</div>
                            </div>
                            <div class="see-all">
                                See all products
                            </div>
                        </div>
                        <div *ngIf="AllSearchItems.length === 0">
                            <div class="search-results">
                                <div class="title">No results</div>
                            </div>
                        </div>

                    </div>
                </div>
                <button class="icon-btn" (click)="cartpage($event)">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <circle cx="9" cy="21" r="1"></circle>
                        <circle cx="20" cy="21" r="1"></circle>
                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                    </svg>
                    <span class="cart-badge" *ngIf="cartCount > 0" (click)="cartpage($event)">{{ cartCount }}</span>
                </button>

            </div>
        </div>
    </header>

    <form #checkoutForm="ngForm" (ngSubmit)="processPayment(checkoutForm)">

        <div class="checkout-container">
            <div class="col-md-5">
                <section class="form-section">
                    <h2>Contact</h2>

                    <label class="form-label">Email ID &nbsp;&nbsp; </label>
                    <!-- <input type="text" name="contact" required [(ngModel)]="contactInfo_cart.emailOrMobile"
                        #contact="ngModel" class="form-input" maxlength="70"
                        [class.invalid]="contact.invalid && (contact.touched || checkoutForm.submitted)" />

                    <div class="error" *ngIf="contact.invalid && (contact.touched || checkoutForm.submitted)">
                      <small class="text-danger" *ngIf="contactInfo_cart.emailOrMobile('email')?.errors?.['email']">
                            {{ 'Invalid email format.' | translate }}
                        </small>
                    </div> -->
                    <input type="email" name="contact" required email [(ngModel)]="contactInfo_cart.emailOrMobile"
                        #contact="ngModel" class="form-input" maxlength="70"
                        [class.invalid]="contact.invalid && (contact.touched || checkoutForm.submitted)" />

                    <div class="error" *ngIf="contact.invalid && (contact.touched || checkoutForm.submitted)">
                        <small class="text-danger" *ngIf="contact.errors?.['required']">
                            Email is required
                        </small>

                        <small class="text-danger" *ngIf="contact.errors?.['email']">
                            Invalid email format.
                        </small>
                    </div>





                    <label class="checkbox-label">
                        <input type="checkbox" name="emailOffers" [(ngModel)]="contactInfo_cart.emailMeOffers" />
                        <span>Email me with news and offers</span>
                    </label>
                </section>

                <section class="form-section">
                    <h2>Delivery</h2>

                    <!-- Country -->
                    <label class="form-label">Country / Region</label>
                    <select name="deliveryCountry" required [(ngModel)]="deliveryInfo.country"
                        #deliveryCountry="ngModel" class="form-input"
                        [class.invalid]="deliveryCountry.invalid && (deliveryCountry.touched || checkoutForm.submitted)">

                        <option value="" disabled>Country / Region</option>
                        <option value="UK" style="color:black">United Kingdom</option>
                        <!-- <option value="US" style="color:black">United States</option>                       
                        <option value="CA" style="color:black">Canada</option>
                        <option value="IN" style="color:black">India</option> -->
                    </select>

                    <div class="error"
                        *ngIf="deliveryCountry.invalid && (deliveryCountry.touched || checkoutForm.submitted)">
                        Country is required
                    </div>

                    <!-- First & Last Name -->
                    <div class="form-row">
                        <div class="form-field">
                            <label class="form-label">First name</label>
                            <input type="text" name="deliveryFirstName" required [(ngModel)]="deliveryInfo.firstName"
                                #deliveryFirstName="ngModel" class="form-input" maxlength="70"
                                [class.invalid]="deliveryFirstName.invalid && (deliveryFirstName.touched || checkoutForm.submitted)" />

                            <div class="error"
                                *ngIf="deliveryFirstName.invalid && (deliveryFirstName.touched || checkoutForm.submitted)">
                                First name is required
                            </div>
                        </div>

                        <div class="form-field">
                            <label class="form-label">Last name</label>
                            <input type="text" name="deliveryLastName" required [(ngModel)]="deliveryInfo.lastName"
                                #deliveryLastName="ngModel" class="form-input" maxlength="70"
                                [class.invalid]="deliveryLastName.invalid && (deliveryLastName.touched || checkoutForm.submitted)" />

                            <div class="error"
                                *ngIf="deliveryLastName.invalid && (deliveryLastName.touched || checkoutForm.submitted)">
                                Last name is required
                            </div>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="form-field">
                        <label class="form-label">Address</label>
                        <input type="text" name="deliveryAddress" required [(ngModel)]="deliveryInfo.address"
                            #deliveryAddress="ngModel" class="form-input" maxlength="150"
                            [class.invalid]="deliveryAddress.invalid && (deliveryAddress.touched || checkoutForm.submitted)" />

                        <div class="error"
                            *ngIf="deliveryAddress.invalid && (deliveryAddress.touched || checkoutForm.submitted)">
                            Address is required
                        </div>
                    </div>

                    <!-- Apartment -->
                    <div class="form-field">
                        <label class="form-label">Apartment, Suite, etc.</label>
                        <input type="text" name="deliveryApartment" [(ngModel)]="deliveryInfo.apartment"
                            class="form-input" maxlength="100" />
                    </div>

                    <!-- City / State / Pincode -->
                    <div class="form-row">
                        <div class="form-field">
                            <label class="form-label">City</label>
                            <input type="text" name="deliveryCity" required [(ngModel)]="deliveryInfo.city"
                                #deliveryCity="ngModel" class="form-input" maxlength="100"
                                [class.invalid]="deliveryCity.invalid && (deliveryCity.touched || checkoutForm.submitted)" />

                            <div class="error"
                                *ngIf="deliveryCity.invalid && (deliveryCity.touched || checkoutForm.submitted)">
                                City is required
                            </div>
                        </div>

                        <div class="form-field">
                            <label class="form-label">State</label>
                            <input type="text" name="deliveryState" required [(ngModel)]="deliveryInfo.state"
                                #deliveryState="ngModel" class="form-input" maxlength="70"
                                [class.invalid]="deliveryState.invalid && (deliveryState.touched || checkoutForm.submitted)" />

                            <div class="error"
                                *ngIf="deliveryState.invalid && (deliveryState.touched || checkoutForm.submitted)">
                                State is required
                            </div>
                        </div>

                        <!-- <div class="form-field">
                            <label class="form-label">Postcode</label>
                            <input type="text" name="deliveryPincode" required [(ngModel)]="deliveryInfo.pinCode"
                                #deliveryPincode="ngModel" class="form-input" maxlength="10"
                                [class.invalid]="deliveryPincode.invalid && (deliveryPincode.touched || checkoutForm.submitted)" />

                            <div class="error"
                                *ngIf="deliveryPincode.invalid && (deliveryPincode.touched || checkoutForm.submitted)">
                                Postcode is required
                            </div>
                        </div> -->

                        <div class="form-field position-relative">
                            <!-- <label class="form-label">Postcode</label> -->

                            <!-- <input type="text" name="deliveryPincode" required [(ngModel)]="deliveryInfo.pinCode"
                                #deliveryPincode="ngModel" class="form-input" maxlength="10"
                                (ngModelChange)="onPostcodeInput($event)" autocomplete="off" />

                            <ul class="postcode-dropdown" *ngIf="showpostalDropdown">
                                <li *ngFor="let pc of postcodes" (click)="selectPostcode(pc)">
                                    {{ pc }}
                                </li>
                            </ul> -->
                            <div class="form-field postcode-container">
                                <label class="form-label">Postcode</label>
                                <input type="text" name="deliveryPincode" required [(ngModel)]="deliveryInfo.pinCode"
                                    #deliveryPincode="ngModel" class="form-input" maxlength="10"
                                    (ngModelChange)="onPostcodeInput($event)" autocomplete="off" />

                                <ul *ngIf="showpostalDropdown" class="postcode-dropdown">
                                    <li *ngFor="let pc of postcodes" (click)="selectPostcode(pc)">
                                        {{pc }}
                                    </li>
                                </ul>
                            </div>


                            <div class="error"
                                *ngIf="deliveryPincode.invalid && (deliveryPincode.touched || checkoutForm.submitted)">
                                Postcode is required
                            </div>
                        </div>

                    </div>

                    <!-- Phone -->
                    <div class="form-field">
                        <label class="form-label">Phone Number</label>

                        <input type="text" name="deliveryPhone" required pattern="^[0-9]{11}$" maxlength="11"
                            inputmode="numeric" [(ngModel)]="deliveryInfo.phoneNumber" #deliveryPhone="ngModel"
                            class="form-input" (keypress)="numericOnly($event)"
                            [class.invalid]="deliveryPhone.invalid && (deliveryPhone.touched || checkoutForm.submitted)" />

                        <div class="error"
                            *ngIf="deliveryPhone.invalid && (deliveryPhone.touched || checkoutForm.submitted)">
                            <span *ngIf="deliveryPhone.errors?.['required']">
                                Phone number is required
                            </span>
                            <span *ngIf="deliveryPhone.errors?.['pattern']">
                                Enter a valid 11-digit phone number
                            </span>
                        </div>
                    </div>

                </section>


                <section class="form-section">
                    <h2>Shipping method</h2>
                    <div class="shipping-method">
                        <span>{{shippingMethod}}</span>
                        <span class="free-badge">FREE</span>
                    </div>
                </section>

                <section class="form-section">
                    <h2>Payment</h2>
                    <div class="payment-info">
                        <p>Razorpay (UPI, Cards, Net Banking, All Debit, Credit Cards, Wallets)</p>
                        <div class="payment-placeholder">
                            <div class="card-icon"></div>
                            <p class="payment-note">
                                After clicking "Pay now", you will be redirected to Razorpay (Secure UPI, Cards, Net
                                Banking, Wallets) to complete your purchase securely.
                            </p>
                        </div>
                    </div>
                </section>

                <section class="form-section">
                    <h2>Billing address</h2>

                    <!-- Radio buttons -->
                    <div class="form-row">
                        <div class="form-field">
                            <label class="radio-label">
                                <input type="radio" name="billingSame" [value]="true"
                                    [(ngModel)]="billingAddress.sameAsShipping" (change)="onBillingToggle()" />
                                <span>Same as shipping address</span>
                            </label>
                        </div>

                        <div class="form-field">
                            <label class="radio-label">
                                <input type="radio" name="billingSame" [value]="false"
                                    [(ngModel)]="billingAddress.sameAsShipping" />
                                <span>Use a different billing address</span>
                            </label>
                        </div>
                    </div>

                    <!-- DIFFERENT BILLING ADDRESS -->
                    <div *ngIf="!billingAddress.sameAsShipping" class="billing-form">

                        <!-- Country -->
                        <label class="form-label">Country / Region</label>
                        <select name="billingCountry" required [(ngModel)]="billingAddress.country"
                            #billingCountry="ngModel" class="form-input"
                            [class.invalid]="billingCountry.invalid && (billingCountry.touched || checkoutForm.submitted)">

                            <option value="" disabled>Country / Region</option>
                            <option value="US" style="color:black">United States</option>
                            <option value="UK" style="color:black">United Kingdom</option>
                            <option value="CA" style="color:black">Canada</option>
                            <option value="IN" style="color:black">India</option>
                        </select>

                        <div class="error"
                            *ngIf="billingCountry.invalid && (billingCountry.touched || checkoutForm.submitted)">
                            Billing country is required
                        </div>

                        <!-- Name -->
                        <div class="form-row">
                            <div class="form-field">
                                <label class="form-label">First name</label>
                                <input type="text" name="billingFirstName" required maxlength="70"
                                    [(ngModel)]="billingAddress.firstName" #billingFirstName="ngModel"
                                    class="form-input"
                                    [class.invalid]="billingFirstName.invalid && (billingFirstName.touched || checkoutForm.submitted)" />

                                <div class="error"
                                    *ngIf="billingFirstName.invalid && (billingFirstName.touched || checkoutForm.submitted)">
                                    First name is required
                                </div>
                            </div>

                            <div class="form-field">
                                <label class="form-label">Last name</label>
                                <input type="text" name="billingLastName" required [(ngModel)]="billingAddress.lastName"
                                    #billingLastName="ngModel" class="form-input" maxlength="70"
                                    [class.invalid]="billingLastName.invalid && (billingLastName.touched || checkoutForm.submitted)" />

                                <div class="error"
                                    *ngIf="billingLastName.invalid && (billingLastName.touched || checkoutForm.submitted)">
                                    Last name is required
                                </div>
                            </div>
                        </div>

                        <!-- Address -->
                        <div class="form-field">
                            <label class="form-label">Address</label>
                            <input type="text" name="billingAddressLine" required [(ngModel)]="billingAddress.address"
                                #billingAddressLine="ngModel" class="form-input" maxlength="150"
                                [class.invalid]="billingAddressLine.invalid && (billingAddressLine.touched || checkoutForm.submitted)" />

                            <div class="error"
                                *ngIf="billingAddressLine.invalid && (billingAddressLine.touched || checkoutForm.submitted)">
                                Address is required
                            </div>
                        </div>

                        <!-- Apartment -->
                        <div class="form-field">
                            <label class="form-label">Apartment, Suite, etc.</label>
                            <input type="text" name="billingApartment" [(ngModel)]="billingAddress.apartment"
                                class="form-input" maxlength="100" />
                        </div>

                        <!-- City / State / Pincode -->
                        <div class="form-row">
                            <div class="form-field">
                                <label class="form-label">City</label>
                                <input type="text" name="billingCity" required [(ngModel)]="billingAddress.city"
                                    #billingCity="ngModel" class="form-input" maxlength="70"
                                    [class.invalid]="billingCity.invalid && (billingCity.touched || checkoutForm.submitted)" />

                                <div class="error"
                                    *ngIf="billingCity.invalid && (billingCity.touched || checkoutForm.submitted)">
                                    City is required
                                </div>
                            </div>

                            <div class="form-field">
                                <label class="form-label">State</label>
                                <input type="text" name="billingState" required [(ngModel)]="billingAddress.state"
                                    #billingState="ngModel" class="form-input" maxlength="70"
                                    [class.invalid]="billingState.invalid && (billingState.touched || checkoutForm.submitted)" />

                                <div class="error"
                                    *ngIf="billingState.invalid && (billingState.touched || checkoutForm.submitted)">
                                    State is required
                                </div>
                            </div>

                            <div class="form-field">
                                <label class="form-label">Pincode</label>
                                <input type="text" name="billingPincode" required [(ngModel)]="billingAddress.pinCode"
                                    #billingPincode="ngModel" class="form-input" maxlength="10"
                                    [class.invalid]="billingPincode.invalid && (billingPincode.touched || checkoutForm.submitted)" />

                                <div class="error"
                                    *ngIf="billingPincode.invalid && (billingPincode.touched || checkoutForm.submitted)">
                                    Pincode is required
                                </div>
                            </div>
                        </div>

                        <!-- Phone -->
                        <div class="form-field">
                            <label class="form-label">Phone Number</label>
                            <!-- <input type="text" name="billingPhone" required maxlength="11" pattern="^[0-9]{11}$"
                                [(ngModel)]="billingAddress.phoneNumber" #billingPhone="ngModel" class="form-input"
                                [class.invalid]="billingPhone.invalid && (billingPhone.touched || checkoutForm.submitted)" /> -->
                            <input type="tel" name="billingPhone" required maxlength="11" pattern="^[0-9]{1,11}$"
                                [(ngModel)]="billingAddress.phoneNumber" #billingPhone="ngModel" class="form-input"
                                (input)="limitPhoneLength()"
                                [class.invalid]="billingPhone.invalid && (billingPhone.touched || checkoutForm.submitted)" />


                            <div class="error"
                                *ngIf="billingPhone.invalid && (billingPhone.touched || checkoutForm.submitted)">
                                Enter valid 11-digit phone number
                            </div>
                        </div>

                    </div>
                </section>

            </div>

            <!-- Right Side - Cart Summary right-section -->
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="cart-items">
                    <div *ngFor="let item of cartItems" class="cart-item">
                        <div class="item-image-wrapper">
                            <img [src]="item.image" [alt]="item.name" class="item-image" />
                            <span class="item-quantity-badge">{{item.locqunatity }}</span>
                        </div>
                        <div class="item-details">
                            <h3>{{item.name}}</h3>
                            <!-- <p class="item-weight">{{item.weight}}</p> -->
                            <p class="item-weight">
                                {{ item.cartTitle.weightNumber }} {{ item.cartTitle.weightUnit }}
                            </p>

                            <p class="item-price">£ {{item.salePrice.toFixed(2)}}</p>
                        </div>
                        <div class="item-actions">
                            <div class="quantity-controls">
                                <button (click)="decrementQuantity(item); $event.preventDefault()"
                                    class="qty-btn">-</button>
                                <span class="qty-value">{{item.locqunatity }}</span>
                                <button (click)="incrementQuantity(item); $event.preventDefault()"
                                    class="qty-btn">+</button>
                            </div>
                            <button (click)="removeItem(item)" class="remove-btn">
                                <span><img src="../../../assets/Remove.png" width="20"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- <div class="promo-section">
                    <div class="promo-wrapper">
                        <input type="text" name="promoCode" [(ngModel)]="promoCode" class="promo-input" />

                        <button type="button" (click)="applyPromoCode()" class="apply-btn">
                            Apply
                        </button>
                    </div>
                </div> -->
                <div class="summary">
                    <div class="summary-row">
                        <span>Sub Total</span>
                        <span>£{{subtotal.toFixed(2)}}</span>
                    </div>
                    <div class="summary-row">
                        <span>Delivery Fee</span>
                        <span>
                            {{ deliveryFee === 0 ? 'Free' : '£' + deliveryFee.toFixed(2) }}
                        </span>
                    </div>
                    <div class="summary-row">
                        <span>Discount Amount</span>
                       <span>£{{ discountAmt.toFixed(2) }}</span>
                    </div>
                  
                    <div class="summary-row" *ngIf="frozenCharge > 0">
                        <span>Frozen Packing Charge</span>
                        <span>£{{ frozenCharge.toFixed(2) }}</span>
                    </div>
                    <div class="summary-row total">
                        <span>Total to pay</span>
                        <!-- <span>£{{totalToPay.toFixed(2)}}</span> -->
                        <span>£{{ totalToPay.toFixed(2) }}</span>
                    </div>
                </div>
                <button type="submit" class="pay-now-btn"
                    [class.disabled]="checkoutForm.invalid || cartItems.length === 0 || subtotal < MIN_ORDER_AMOUNT">
                    <!-- [class.disabled]="checkoutForm.invalid || cartItems.length === 0" -->
                    Pay Now
                </button>
                <p class="text-danger mt-2" *ngIf="subtotal < MIN_ORDER_AMOUNT">
                    Minimum order amount is £{{ MIN_ORDER_AMOUNT }}
                </p>



            </div>
        </div>
    </form>



</div>