.dialog-container {
    text-align: center;
    padding: 24px;
}

.status-icon {
    width: 80px;
    margin-bottom: 16px;
}

.title {
    color: green;
    font-size: 20px;
    margin: 12px 0;
    font-family: 'Gills Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 0px;
    transition: color 0.1s;
}

.titldesc {
    font-family: 'Gills Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    transition: color 0.1s;
    color: #000;
    font-size: 16px;
}

button {
    margin-top: 16px;
}